/**
 * @name Comic Mono
 * @author BuyMyMojo#0308
 * @version 1.0
 * @description A simple discord theme which makes the app use Comic Mono.
 * @source https://github.com/BuyMyMojo/Discord-ComicMono/
 */

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import url(https://buymymojo.github.io/Discord-ComicMono/src/base.css);

/* ----------------------------------------------------------------------- */

/* SETTINGS */

:root {
    --word-spacing: 3px;       /* Word spacing */
    --letter-spacing: 0.25px;  /* Letter Spacing */
    --message-line-spacing: 2; /* Line spacing on messages */
}

/* ----------------------------------------------------------------------- */
